<div class="login-page" style="min-height: 466px;">

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-info">
            <div class="card-header text-center">
                <router-link to="/" class="h1">
                    <b>Админка</b>
                </router-link>
            </div>
            <div class="card-body">
                <form @submit.prevent="login">
                    <div class="input-group mb-3">
                        <input
                            type="email"
                            v-model="loginForm.email.value"
                            class="form-control"
                            :class="{'is-invalid': ! loginForm.email.isValid}"
                            placeholder="Email"
                        >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {{ loginForm.email.errorMessage }}
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input
                            :type="isPassShow ? 'text' : 'password'"
                            v-model="loginForm.password.value"
                            class="form-control"
                            :class="{'is-invalid': ! loginForm.password.isValid}"
                            placeholder="Пароль"
                        >
                        <div class="input-group-append">
                            <div
                                @click="isPassShow = ! isPassShow"
                                class="input-group-text login-box__show-pass"
                            >
                                <span
                                    class="fas"
                                    :class="isPassShow ? 'fa-eye' : 'fa-eye-slash'"
                                ></span>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {{ loginForm.password.errorMessage }}
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col">
                            <button type="submit" class="btn btn-info btn-block">Вход</button>
                        </div>
                    </div>
                </form>

                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="#" class="btn btn-block btn-secondary disabled">
                        <i class="fab fa-vk mr-2"></i> Вход через VK
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <router-link to="/recover-password" class="text-info">Забыл пароль?</router-link>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

</div>