<div class="login-page" style="min-height: 398px;">

    <div class="login-box">
        <div class="card card-outline card-info">
            <div class="card-header text-center">
                <router-link to="/" class="h1">
                    <b>Админка</b>
                </router-link>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Вы всего в шаге от нового пароля</p>
                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Новый пароль">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Подтвердите пароль">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-info btn-block">Изменить пароль</button>
                        </div>

                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <router-link to="/login" class="text-info">Вход</router-link>
                </p>
            </div>

        </div>
    </div>

</div>